* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /*
  margin:0;
  padding:0;
  background:  linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),url(img/home.png) no-repeat top fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari 
  background-size: cover; /* version standardisée 
  overflow: hidden;*/
    background-color: white;
    position: relative;
}

img {
    max-width: 100%;
}

main {
    padding-top: 3%;
    padding-bottom: 0%;
    transition-property: top, bottom;
    transition-duration: .6s;
    -webkit-transition-property: top, bottom;
    -webkit-transition-duration: 2s;
    top: 0;
    bottom: 0;
}


/*********************HEADER*****************/


#headermobile {
    display: none;
}

#header {
    width: 100vw;
    z-index: 100;
    text-align: right;
    color: black;
    font-family: 'montserrat';
    font-weight: 500;
    position: fixed;

}

#header ul {
    display: inline-block;

    font-size: .9rem;
    width: 100%;
    padding-top: 2.5%;
    padding-right: 10%;
    letter-spacing: .1rem;

}

#header ul li {
    width: 10%;
    vertical-align: middle;
    float: right;
    text-align: center;
    position: relative !important;

}

#header ul li a {
    color: black;
    text-decoration: none;
    display: inline;
    border-bottom: 3px solid transparent;
    width: 0px;
    transition: 0.5s ease;
    white-space: nowrap;
    height: 20px
}


#header ul li a:hover {
    color: black;
    border-bottom: 1px solid black;
    width: 100%;
}

#header ul li a:active {
    color: #5c5c5b;
    border-bottom: 1px solid black;
    width: 100%;
}

/*** header projects***/

#sideheader {

    z-index: 999;
    display: flex;
    width: 100%;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0px;


}

#sideheader ul {

    position: absolute;
    z-index: 9999;
    display: grid;
    justify-content: center;
    left: 0px;
    top: 40px;
    right: 0px;
    width: 100px;





}

#sideheader ul li {
    width: 21px;
    text-align: center;
    display: inline;
    margin-top: 30px;






}

#sideheader ul li a {
    color: black;
    text-decoration: none;
    border-bottom: 3px solid transparent;





}

#sideheader ul li p {
    color: black;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transform: rotate(270deg);
    transform-origin: left top 0;
    border-bottom: 3px solid transparent;
    margin-top: 500px;
    letter-spacing: .05rem;
    font-family: 'montserrat';

}

.line-scroll {
    width: 1PX;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro;
    border: 0 none;
    transform-origin: left top 0;
    border-bottom: 3px solid transparent;

}


#sideheader img {
    width: 20px;

}

/****** nav mobile ******/

.mobilenav {
    display: none;
}

.handle {
    display: none;
}

@media (max-width: 768px) {

    #sideheader {
        display: none;
    }

    .mobilenav {
        background-image: url("../img/paper.png");
        display: block;
        overflow: hidden;
        width: 100%;
        z-index: 10000;
    }

    .mobilehead {
        color: #231f20;
        padding: 15px;
        overflow: hidden;


    }

    .handle {
        float: right;
        background: transparent;
        color: #5c5c5b;
        border: none;
        font-size: 1rem;
        display: block;
        cursor: pointer;
        text-decoration: none;



    }

    .mobilenav a {
        text-decoration: none;
        color: #231f20;
        font-family: 'montserrat';
        letter-spacing: .05rem;
        font-size: .9rem;

    }

    .mobilenav ul {
        overflow: hidden;
        color: white;
        margin: 0;
        padding: 0;
        text-align: center;
        transition: max-height 0.5s;
        width: 100%;
        max-height: 0;

    }

    .mobilenav ul.show {
        max-height: 20em;

    }

    .mobilenav ul li {
        display: inline-block;
        padding: 30px;
        width: 100%;
        box-sizing: border-box;

    }

    .mobilenav ul li a:hover {
        color: #5c5c5b;
        border-bottom: 2px solid #5c5c5b;
        width: 100%;
    }

}


.project_title {

    width: 60%;
    margin: 3% 15%;
    font-family: 'montserrat';
    font-weight: 500;
    letter-spacing: .07rem;
    font-size: 1rem;

}


/****** heading ******/

.container {
    margin-left: 15%;
    margin-right: auto;
    display: flex;
    max-width: 940px;
    margin-top: 110px;
    background-image: url(../img/backgroundsection.png);
    background-repeat: no-repeat;

}

.introduction {
    width: 100%;
    margin-top: 300px;
    padding-bottom: 150px;

}

.heading {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'raleway';
    color: black;
    font-size: 70px;
    line-height: 105px;
    font-weight: 600;
    letter-spacing: 1px;

}



/****** content home ******/


.homecontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4%;
}

.wrap {
    width: 37%;
    display: inline-block;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.wrap:first-of-type {
    margin-top: 150px;
}

.text {

    position: absolute;
    right: -18%;
    font-size: 2.7rem;
    top: 25vh;
    letter-spacing: .05rem;
    line-height: 1.3;
    font-family: 'raleway';
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: right;
    transform-style: preserve-3d;
    z-index: 1000000;


}

.text:nth-child(odd) {
    left: -18%;
    z-index: 1000000;
    top: 25vh;
    right: auto;
    text-align: left;

}


.line {
    width: 1px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro;
    border: 0 none;
    transform-origin: left top 0;

}

.contemporaneos {

    background-image: url(../img/loscontemporaneos3.png);
}

.monstertruck {

    background-image: url(../img/monstertruck.png);
}

.duel {

    background-image: url(../img/duel.png);
}

.afil {

    background-image: url(../img/afil.png);
}

.parallax2 {

    position: relative;
    margin-bottom: 10%;
}

.chien2 {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: 0;
    z-index: 1000000000;
}

.parallaxParent {
    height: 50vh;
    overflow: hidden;

}

.parallaxParent>* {
    height: 200%;
    position: relative;
    top: -100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;

}

#parallax4 {
    position: relative;
    margin-bottom: 10%;
}

/***** projects ******/
.fond-paper{
    background-image: url("../img/paper.png");
}
#projectsleft{
    width: 100%;
    position: relative;
    margin-top: 4%;
}

.sectionprojects{
    width: 100%;
}
.tittleproject{
    color: #231f20;
    text-transform: uppercase;
    width: 80%;
    text-align: left;
    margin-left: 10%;
    font-family: 'montserrat';
    font-size: .8rem;
    letter-spacing: 5rem;
    text-decoration: none;
    padding-top: 5%;
    padding-bottom: 0%;


}

.fanfare{
    width: 55%;
    float: left;
    margin-left: 5%;
}
.fanfare img{
    width: 86%;
    padding-left: 25%;
    padding-top: 5%;
    
}


.titulo {
    position: absolute;
    width: 30%;
    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    color: #444444;
    left: 45.5%;
    margin-top: 65%;
    line-height: 5rem;

}


.subtitulo{
    width: 23%;
    text-align: left;
    float: left;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
     line-height: 1rem;
    font-size: .6rem;
    color: #474747;
    text-transform: uppercase;
     letter-spacing: .09rem;
    margin-top: 32%;

}

.plus{

     width: 13%;
    float: left;
    margin-left: 5%;
    font-family: 'montserrat', sans-serif;
     line-height: 1rem;
    font-size: .7rem;
    color: #474747;
    text-transform: uppercase;
     letter-spacing: .09rem;
    margin-top: 2%;
    font-weight: 800;
    text-decoration: none;
    border: 2px solid #474747;
    padding: 1.3%;
    text-align: center;
    transition: .5s;


}
.plus a{
    color: #474747;
}
.plus:hover{
    background-color: lightgray;
    border: 2px solid lightgray;
}

#projectsright{
    width: 100%;
    position: relative;


}
.sectionprojectsright{
    width: 100%;

}


.tituloright {
    width: 45%;
    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    color: #444444;
    margin-top: 10%;
    line-height: 5.3rem;
    float: left;
    transition: .5s;


}


.tituloright p{
    padding-left: 30%;
    margin-top: 27%;
}
/*
.duel{
    width: 55%;
    float: right;
    margin-top: 15%;
    margin-bottom: 10%;
}
.duel img{
    width: 90%;
    padding-right: 23%;
    padding-top: 0%;
    float:right;
    padding-left: 7%;
    
}*/
  .mp img {
     width: 86%;
    padding-right: 23%;
    padding-top: 0%;
    float:right;
    padding-left: 7%;
    
}
        .mp {
   width: 55%;
    float: right;
    margin-top: 15%;
    margin-bottom: 10%;
}


.subtituloright{
    width: 23%;
    text-align: left;
    float: left;
    margin-left: 19%;
    font-family: 'Raleway', sans-serif;
     line-height: 1rem;
    font-size: .6rem;
    color: #474747;
    text-transform: uppercase;
     letter-spacing: .09rem;
    margin-top: 4%;

}

.plusright{

     width: 13%;
    float: left;
    margin-left: 19%;
    font-family: 'montserrat', sans-serif;
     line-height: 1rem;
    font-size: .7rem;
    color: #474747;
    text-transform: uppercase;
     letter-spacing: .09rem;
    margin-top: 2%;
    font-weight: 800;
    text-decoration: none;
    border: 2px solid #474747;
    padding: 1.3%;
    text-align: center;
    transition: .5s;

}
.plusright a{
    color: #474747;
}

.plusright:hover{
    background-color: lightgray;
    border: 2px solid lightgray;
}

#projectsleft2{
    width: 100%;
    position: relative;
    margin-top: 4%;
}

.titulo3 {
    position: absolute;
    width: 30%;
    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    color: #444444;
     left: 45.5%;
    margin-top: 176%;
    line-height: 5rem;
    transition: .5s;

}


.infoduel p{
    font-size: .8rem;
    font-family: 'montserrat';
    margin-top: 0%;
    text-align: center;
    transition: .7s;


}
.infoduel a{
    color: #444444;
}

.infoduel a:hover{
    color: #958d99;


}

.titulo4 {
    position: absolute;
    width: 30%;
    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    color: #444444;
     left: 45.5%;
    margin-top: 288%;
    line-height: 5rem;
    transition: .5s;

}

/******** WORK *******/

#start{
    width: 100%;
    float: left;
    height:100vh;
    background-image: url("../img/paper.png");
}

.tittlework-wrap{
    text-align: left;


}
.tittlework{
	width: 27%;
    padding-top: 0%;
    margin-left: 15%;
    float: left;

}

.imagestext{
    width: 100%;



}



.contentwork{
    width: 30%;
    text-align: left;
    float: left;
    font-family: 'raleway';
    line-height: 1.8rem;
    padding-top: 15%;
    margin-left: 13%;


}
.center{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;


}
.intro{
    width: 80%;
    text-align: left;
    margin-left: 15%;
      padding-top: 5%;


}
.role{
    font-family: 'montserrat';
    text-transform: uppercase;
    font-size: .9rem;
    color: #919191;
    float: left;

}

.h{
    display: inline-block;
    width: 18px;
    height: 2px;
    margin: 0 10px 3px 10px ;
    background-color: #919191;;
}

.information{
   font-family: 'Playfair Display', serif;
     font-size: .9rem;
    color: #474747;
    font-style: italic;
    letter-spacing: .03rem;


}

.titleintro{
    width:40%;
    font-family: 'montserrat';
    font-size:2.5rem;
   color:#919191;;
    margin-top: 2.5%;
    padding-top: 2.5%;
    float:left;
    padding-bottom: 2.5%;
    margin-bottom: 2.5%;
    text-align: left;



}


.images{
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;

}
.design{
    width: 60%;
    padding:3% ;
    float: left;
   text-align: center;
    padding-left: 7%;
    margin-top: 5%;

}
.contentdesign{
    width: 100%;


}

.infointro{
     width:30%;
    text-align: left;
    font-family: 'raleway';
    line-height: 1.5rem;
    padding-top: 5%;
    float: left;
    padding-right: 5%;
    line-height: 2rem;




}

.l{

    width: 2%;
    height: 2px;
    margin: 0 10px 3px 10px ;
    background-color:#919191;;
    float: left;


}

.design2{
    width: 47%;
    padding:3% ;
    float: right;
   text-align: center;
    padding-right: 7%;
    margin-top: 3%;
    margin-right: 3%;
}

.titleintro2{
    width:40%;
    font-family: 'montserrat';
    font-size:2.5rem;
    color:#919191;
    padding-top: 2.5%;
    margin-top: 7.5%;
    float:left;
    padding-bottom: 2.5%;
    margin-bottom: 2.5%;
    text-align: right;


}

.l2{

    width: 2%;
    height: 2px;
    margin: 0 10px 3px 0px ;
    background-color: #919191;
    float: left;


}

.infointro2{
    width: 25%;
    text-align: left;
    font-family: 'raleway';
    line-height: 1.5rem;
    padding-top: 3%;
    float: left;
    margin-left: 12%;
    line-height: 2rem;


}

.mobile{
    width: 30%;
    margin-left: 12%;
    padding-top:9%;
    float: left;
}


.titleintro3{
    width:40%;
    font-family: 'montserrat';
    font-size:2.5rem;
    color:#919191;
    padding-top: 5%;
    float:right;
    padding-bottom: 5%;
    text-align: left;
}

.infointro3{
     width:30%;
    text-align: left;
    font-family: 'raleway';
    line-height: 1.5rem;
    padding-top: 5%;
    float: right;
    padding-right: 5%;
    line-height: 2rem;
        margin-right: 7%;



}


.l3{

    width: 2%;
    height: 2px;
    margin: 0 10px 3px 10px ;
    background-color: #919191;
    float: right;


}
/******** hibbbou *******/

.endhibbbou{
    width: 100%;
    background-image: url("../img/backgroundhibbbou.png");
    text-align: center;
    margin-top: 5%;
    padding-bottom: 4%;

}

.endhibbbou p{
     font-family: 'Montserrat';
    font-weight: 100;
    font-size: 1.3rem;
    color: white;
    letter-spacing: .03rem;
    padding-top: 7%;
    padding-bottom: 4%;
    text-transform: uppercase;

}

.endline{
    width: 3.2%;
    height: 2px;
    background-color: white;
    opacity: .8;
    margin: auto;
    margin-top: 0%;
     transform: rotate(90deg);
    }

/***** Tapiela  ****/

.endtapiela{
    width: 100%;
    background-image: url("../img/backgroundtapiela.png");
    text-align: center;
    margin-top: 5%;
    padding-bottom: 4%;

}

.endtapiela p{
     font-family: 'Montserrat';
    font-weight: 100;
    font-size: 1.3rem;
    color: white;
    letter-spacing: .03rem;
    padding-top: 7%;
    padding-bottom: 4%;
    text-transform: uppercase;

}


/***** Duel  ****/

.endduel{
    width: 100%;
    background-image: url("../img/backgroundduel.png");
    text-align: center;
    margin-top: 5%;
    padding-bottom: 4%;

}

.endduel p{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 1.3rem;
    color: white;
    letter-spacing: .03rem;
    padding-top: 7%;
    padding-bottom: 4%;
    text-transform: uppercase;

}

.endmp{
    width: 100%;
    background-image: url("../img/backgroundmp.png");
    text-align: center;
    margin-top: 5%;
    padding-bottom: 4%;

}

.endmp p{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 1.3rem;
    color: white;
    letter-spacing: .03rem;
    padding-top: 7%;
    padding-bottom: 4%;
    text-transform: uppercase;

}

/***** Fanfare  ****/

.endfanfare{
    width: 100%;
    background-image: url("../img/backgroundfanfare.png");
    text-align: center;
    margin-top: 5%;
    padding-bottom: 4%;

}

.endfanfare p{
     font-family: 'Montserrat';
    font-weight: 100;
    font-size: 1.3rem;
    color: white;
    letter-spacing: .03rem;
    padding-top: 7%;
    padding-bottom: 4%;
    text-transform: uppercase;

}


/*****  Monster  ****/

.endmonster{
    width: 100%;
    background-image: url("../img/backgroundmonster.png");
    text-align: center;
    margin-top: 5%;
    padding-bottom: 4%;

}

.endmonster p{
     font-family: 'Montserrat';
    font-weight: 100;
    font-size: 1.3rem;
    color: white;
    letter-spacing: .03rem;
    padding-top: 7%;
    padding-bottom: 4%;
    text-transform: uppercase;

}